.ComicInfo {

    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(200,200,200,0.7);

    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ComicInfoContent {
    width: 70rem;
    height: 40rem;
    border-radius: 10px;

    background-color: rgb(20,20,20);

    display: flex;
}

.ComicData {
    height: 100%;
    width: 60%;

    padding: 1rem; 

    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.ComicData h2 {
    font-size: 2rem;
}

.ComicData .ComicDataInfo {
    width: calc(100% - 4rem);
    height: 30rem;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ComicData .ComicDataInfo .infoContentEach {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #700;
}
.ComicData .ComicDataInfo .infoContentEach p:first-child {
    font-size: 2rem;
    margin-right: 2rem;
    color: red;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.ComicData .ComicDataInfo .infoContentEach p:last-child {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ComicData .ComicDataInfo .infoContentEach:last-child p:last-child {
    font-size: 1.6rem;
}

.ComicImg {
    background-color: violet;
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding-bottom: 1rem;
    position: relative;
}

.ComicImg .buttonExit {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid red;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: rgba(55,55,55,0.6);
    color: white;
    cursor: pointer;
    position: absolute;
    transition: 0.1s;
    top: 1rem;
    right: 1rem;
    outline: none;
}

.ComicImg .buttonExit:hover {
    background-color: rgb(55,55,55);
}

.ComicImg .buttonBuy{
    width: 50%;
    color: white;
    background-color: black;
    box-shadow: 1px 1px 4px 0px black;
    border: none;
    border-radius: 25px;
    padding: 12px 0;
    font-size: 1.2rem;
    transition: 0.1s;
    cursor: pointer;
    outline: none;
}
.ComicImg .buttonBuy:hover {
    background-color: rgb(40,40,40);
}