.Content {
    background-color: #333;
    height: calc(100% - 4.2rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 110rem;
    height: 50rem;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}
.imgtest {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;

    font-size: 5rem;

    width: 18rem;
    height: 20rem;
    background-color: blueviolet;
}
.imgtest p {
    height: 85%;
    display: flex;
    align-items: center;
}
.imgbottom {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
    background-color: rgba(255,255,255,0.55);
    border-radius: 25px;
    width: 85%;
    height: 15%;
    margin-bottom: 0.25rem;
    font-size: 2rem;
}

.imgtest:hover > .imgbottom {
    opacity: 1;
}