@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.Head {
    height: 4.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background-color: #F44;
}
.Head .navdesktop {
    width: 22rem;
}
.Head .navdesktop ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.Head .navdesktop li a{
    text-decoration: none;
    font-style: italic;
    color: #FFF;
    font-size: 1.8rem;
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    transition: 0.4s;
    cursor: pointer;
}
.Head .navdesktop li a:hover{
    color: darkblue;
}

.Head img.cart {
    width: 1.85rem;
    height: auto;
    cursor: pointer;
    margin-bottom: 0.25rem;
}

@media screen and (max-width: 768px) {
    .Head img.cart {
        width: 2.2rem;
    }
}